<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infouna.serveapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.infouna.serveapp.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true" />
        <activity
            android:name=".activity.UserRegistrationActivity"
            android:label="@string/app_name"
            android:noHistory="true" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:noHistory="true" />


        <activity
            android:name=".activity.RateServiceActivity"
            android:label="@string/app_name"
            android:noHistory="true" />
        <activity
            android:name=".activity.ReportServiceActivity"
            android:label="@string/app_name"
            android:noHistory="true" />
        <activity
            android:name=".activity.OrderDetailsSPActivity"
            android:label="@string/app_name"
            android:noHistory="true" />
        <activity
            android:name=".activity.OrderDetailsUserActivity"
            android:label="@string/app_name"
            android:noHistory="true" />
        <activity
            android:name=".activity.ServiceListingActivity"
            android:label="@string/app_name"
            android:noHistory="true" />
        <activity
            android:name=".activity.ServiceDetailsActivity"
            android:label="@string/app_name"
            android:noHistory="true" />
        <activity
            android:name=".activity.RequestNewServiceActivity"
            android:label="@string/app_name"
            android:noHistory="true" />
        <activity
            android:name=".activity.EditUserProfileActivity"
            android:label="@string/app_name"
            android:noHistory="false" />
        <activity
            android:name=".activity.EditServiceProfileActivity"
            android:label="@string/app_name"
            android:noHistory="false" />
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/app_name"
            android:noHistory="true"/>
        <activity
            android:name=".activity.AddMyServiceActivity"
            android:label="@string/app_name"
            android:noHistory="false"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>